html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.pagina {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
}

.encabezado ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.encabezado a {
    color: rgb(221, 136, 238);
    font-weight: bold;
}

.contenido {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;

}

.bloque1 {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

.bloquesInferiores {
    display: flex;
    flex: 1;
}

.bloque2 {
    background-color: lightsalmon;
    flex: 1;
    text-align: center;
    padding: 20px;
}

.bloque3 {
    background-color: goldenrod;
    flex: 1;
    text-align: center;
    padding: 20px;
}

img {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-top: 10px;
    border: 2px solid white;
}