html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.pagina {
    display: flex;
    height: 100%;
}

.bloqueCentral {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    background-color: #1b0924;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.encabezado {
    background-color: #1b0924;
    padding: 10px;
}

#imagenLogo {
    display: inline-block;
    background-color: #fff;
    border: 3px solid #070624;
    padding: 5px;
}

.contenedorInfo {
    background-color: #471720;
    padding: 10px;
}

.bloque {
    display: inline-block;
    width: 50%;
    margin: 1%;
    background-color: #2c0f18;
    padding: 10px;
    box-sizing: border-box;
}

.imagen {
    display: inline-block;
    width: 49%;
    margin-bottom: 10px;
}

.info {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    text-align: justify;
}

.contenedorLateral {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    background-color: #1d3975;
    padding: 10px;
    box-sizing: border-box;
}

#links ul {
    list-style: none;
    padding: 0;
}

#links li {
    text-decoration: underline;
    padding: 7px;
    margin-bottom: 10px;
}

#links a {
    color: white;
    text-decoration: none;
}

.imagenesSidebar img {
    text-align: center;
    display: block;
    margin: 50px auto;
}